.introducao {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center; /* manter sempre alinhado ao centro */
}

.introducao h1 {
    font-size: 4.5rem; /* 72px */
    line-height: 1.125; /* valores "puros" multiplicam o valor do font-size (relativo ao valor acima); aqui tá dando ~81px */
    margin-bottom: 30px;
    position: relative; /* o top do h1::before agora relaciona-se com isso e não com o topo da página */
}

/*adicionando um elemento atrás do texto - posicionamento absoluto*/
.introducao h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 130px;
    background: url(../img/detalhe.svg) no-repeat center;
    position: absolute;
    top: -15px;
    left: -40px;
    z-index: -1; /* joga o elemento em uma "camada" abaixo */
}

.introducao p {
    font-size: 1.5rem;
    color: #525252;
}

/* a imagem está diminuindo por não ter um tamanho fixo, vamos ajustar isso com um media query */
@media (max-width: 1000px) {
    .introducao h1 {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .introducao {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
    .introducao h1 {
        font-size: 2rem;
    }
    .introducao h1::before {
        width: 30px;
        height: 10px;
        left: 0px;
    }
    .introducao p {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .introducao {
        grid-template-columns: 1fr;
    }
    .introducao img {
        display: none;
    }
}